@font-face {
  font-family: 'Playfair-Black';
  src: url("../fonts/playfairdisplay-black.eot") format("eot"), url("../fonts/playfairdisplay-black.ttf") format("truetype"), url("../fonts/playfairdisplay-black.woff") format("woff"), url("../fonts/playfairdisplay-black.svg#playfairdisplay-black") format("svg");
}

@font-face {
  font-family: 'Proxima-Bold';
  src: url("../fonts/Proxima_Nova_Bold.eot") format("eot"), url("../fonts/Proxima_Nova_Bold.ttf") format("truetype"), url("../fonts/Proxima_Nova_Bold.woff") format("woff"), url("../fonts/Proxima_Nova_Bold.svg#Proxima_Nova_Bold") format("svg");
}

@font-face {
  font-family: 'Proxima-Regular';
  src: url("../fonts/Proxima_Nova_Regular.eot") format("eot"), url("../fonts/Proxima_Nova_Regular.ttf") format("truetype"), url("../fonts/Proxima_Nova_Regular.woff") format("woff"), url("../fonts/Proxima_Nova_Regular.svg#Proxima_Nova_Regular") format("svg");
}

* {
  outline: none;
}

body {
  background-color: #fff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
}

h1 {
  font-family: "Playfair-Black", serif;
  font-size: 24px;
  line-height: 25px;
}

h2,
.title_h2 {
  font-family: "Playfair-Black", serif;
  font-size: 22px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.button {
  background: transparent;
  color: #000000;
  border: 3px solid #e6ba66;
  font-family: "Proxima-Bold", sans-serif;
  letter-spacing: 0px;
  font-size: 13px;
  outline: none;
  font-size: 15px;
  /*text-transform: uppercase;*/
  padding: 6px 10px;
  height: 40px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.button:hover {
  background: #e6ba66;
  text-decoration: none;
  color: #000000;
}

.btn_dark {
  background: #e6ba66;
  color: #000000;
}

.btn_dark:hover {
  background: transparent;
  color: #000000;
}

.btn_light {
  background: #fdde7a;
}

.btn_light:hover {
  background: #fdde7a;
}

.big_btn {
  max-width: 298px;
  height: 46px;
  line-height: 28px;
  font-size: 15px;
  letter-spacing: 3.07px;
}

.form_btn {
  height: 55px;
  width: 316px;
  max-width: 100%;
  border: none;
  border-bottom: 3px solid #cbb361;
}

.header {
  padding-top: 70px;
}

.header_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header_menu {
  height: 70px;
  padding: 0px;
  margin: 0px;
}

.header_menu li {
  display: block;
}

.header_menu a {
  font-family: "Proxima-Bold", sans-serif;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
}

.header_menu a:after {
  background: transparent;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.header_menu a:hover {
  color: #DAB96B;
  text-decoration: none;
}

.header_menu a:hover:after {
  background: #DAB96B;
  width: 100%;
}

.main_info {
  background-image: url("../img/111.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fbfbfb;
}

.main_info .about .notification {
  font-family: "Proxima-Bold", sans-serif;
  max-width: 298px;
}

.main_info .about .notification span {
  display: inline-block;
  max-width: 245px;
}

.main_info .description {
  font-family: aria;
  font-size: 1.5em;
  line-height: 29px;
  font-weight: bold;
  max-width: 408px;
}

.main_info .advantages {
  /*margin-top: 80px;*/
}

.main_info .advantages .item {
  background-color: rgba(230, 186, 102, 0.92);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 213px;
  height: 213px;
  text-align: center;
  margin-bottom: 40px;
}

.main_info .advantages .item .content {
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.main_info .advantages .item .title {
  font-family: "Playfair-Black", serif;
  font-size: 27px;
  line-height: 1.5;
  margin-top: -5px;
}

.main_info .advantages .item .title span {
  font-size: 96px;
  line-height: 1;
}

.main_info .advantages .item .text {
  font-family: "Proxima-Bold", sans-serif;
  line-height: 19px;
  max-width: 133px;
  display: inline-block;
}

.main_info .services {
  color: #000000;
  font-family: aria;
  font-size: 16px;
  font-weight: bold;
}

.contacts .button {
  max-width: 225px;
  margin-top: 10px;
}

.contacts .phones a {
  font-family: "Playfair-Black", serif;
  font-size: 19px;
}

.contacts .tagline {
  color: #544847;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.contacts a {
  color: #544847;
}

.types_block {
  background-image: url("../img/222.jpg");
  background-repeat: repeat;
  background-position: center center;
}

.types_block .item {
  margin-bottom: 30px;
}

.types_block .title {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 16px;
  letter-spacing: 5.07px;
  text-transform: uppercase;
}

.types_block .price {
  display: block;
  color: #f3372c;
  font-family: "Proxima-Bold", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.types_block .gager {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.types_block .gager .title_h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.types_block .gager .text {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  max-width: 340px;
  display: inline-block;
}

.types_block .gager .order {
  position: absolute;
  bottom: 30px;
  padding: 20px;
  z-index: 1;
}

.works_block {
  background-image: url("../img/334.jpg");
  background-repeat: repeat;
  background-position: center center;
}

.works_block .thumbnail {
  padding: 2px;
}

.reviews_block {
  background-color: #f9f9f9;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  line-height: 23px;
}

.reviews_block .text {
  margin-top: 20px;
}

.reviews_block .item {
  margin-bottom: 3em;
}

.reviews_block .img_block {
  position: relative;
  height: auto;
  width: auto;
}

.reviews_block .img_block:after {
  content: "";
  position: absolute;
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
  height: -webkit-calc(100% - 15px);
  height: calc(100% - 15px);
  border: 2px solid #e6ba66;
  top: 7px;
  left: 7px;
}

.materials_block,
.technology_block {
  background-color: #f9f9f9;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 16px;
}

.materials_block .text,
.technology_block .text {
  max-width: 755px;
  display: inline-block;
}

.technology_block .technology_images {
  max-width: 918px;
  margin-left: auto;
  margin-right: auto;
}

.technology_block .thumbnail {
  max-height: 195px;
  overflow: hidden;
  padding: 2px;
}

.stages_block {
  background-color: #f9f9f9;
}

.stages_block .icon {
  margin-bottom: 10px;
}

.stages_block .title {
  font-family: "Playfair-Black", serif;
  font-size: 30px;
  -webkit-background-size: auto auto;
  background-size: auto;
  background-position: top left;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  padding-top: 6px;
}

.stages_block .item_wrap:first-child .title {
  background-image: url("../img/stage_1.jpg");
}

.stages_block .item_wrap:nth-child(2) .title {
  background-image: url("../img/stage_2.jpg");
}

.stages_block .item_wrap:nth-child(3) .title {
  background-image: url("../img/stage_3.jpg");
}

.stages_block .item_wrap:last-child .title {
  background-image: url("../img/stage_4.jpg");
}

.stages_block .text {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.stages_block .button {
  font-size: 13px;
}

.order_block {
  background-color: transparent;
  background-image: url(../img/5551.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

.order_block .text {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
  max-width: 477px;
  margin-bottom: 20px;
}

.order_form {
  max-width: 315px;
}

.order_form .form_group {
  margin-bottom: 30px;
}

.order_form label {
  display: block;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 13px;
  letter-spacing: 5.07px;
  text-transform: uppercase;
}

.order_form input[type='text'] {
  border: 3px solid #bdbdbd;
  background-color: transparent;
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  text-align: left;
  vertical-align: middle;
  padding: 4px 4px 4px 15px;
  width: 100%;
  height: 50px;
}

.order_form .name,
.order_form .phone {
  position: relative;
}

.order_form .name:after,
.order_form .phone:after {
  content: '\f007';
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 18px;
  top: -webkit-calc(50% - 9px);
  top: calc(50% - 9px);
  right: 20px;
  color: #bfbfbf;
}

.order_form .phone:after {
  content: '\f095';
  font-weight: 700;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.notification {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 13px;
  line-height: 21px;
  margin-top: 10px;
}

.footer_form {
  max-width: 355px;
  width: 100%;
}

.footer_form form {
  width: 355px;
  max-width: 100%;
}

.footer_form .title_h2 {
  margin-bottom: 30px;
}

.footer_form .form_group {
  margin-bottom: 15px;
}

.footer_form .form_btn {
  width: 100%;
}

.footer_form .notification,
.footer_form label {
  color: #000000;
}

.thanks_block {
  background-color: #f1f1f1;
  height: 100vh;
}

.thanks_block .container {
  height: 100%;
}

.thanks_block .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.thanks_block .text {
  font-family: "Proxima-Bold", sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.thanks_block .button {
  max-width: 242px;
}

@media (min-width: 400px) {
  .footer_form {
    padding: 20px 25px;
  }
}

@media (min-width: 480px) {
  .big_btn {
    height: 60px;
    line-height: 42px;
  }

  .form_btn {
    height: 67px;
  }
}

@media (min-width: 576px) {
  .thanks_block {
    height: -webkit-calc(100vh - 224px);
    height: calc(100vh - 224px);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h2,
  .title_h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .header_menu a {
    text-transform: none;
    font-size: 14px;
  }

  .types_block .gager .title_h2 {
    font-size: 24px;
  }

  .order_block {
    background-position: top center;
  }

  .order_form input[type='text'] {
    padding: 4px 4px 4px 15px;
    height: 55px;
  }

  .thanks_block {
    height: -webkit-calc(100vh - 191px);
    height: calc(100vh - 191px);
    background-image: url("../img/666.jpg");
    background-repeat: repeat;
    background-position: top center;
    -webkit-background-size: auto auto;
    background-size: auto;
  }

  .thanks_block .info {
    max-width: 50%;
    padding-top: 75px;
  }

  .thanks_block .text {
    max-width: 340px;
  }
}

@media (min-width: 932px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2,
  .title_h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .button {
    height: 48px;
    line-height: 30px;
    letter-spacing: 2.07px;
    text-transform: uppercase;
  }

  .big_btn {
    height: 83px;
    line-height: 65px;
    letter-spacing: 5.07px;
  }

  .form_btn {
    height: 76px;
  }

  .header_menu a {
    letter-spacing: 2.07px;
    text-transform: uppercase;
    font-size: 13px;
  }

  .contacts .phones a {
    font-size: 27px;
  }

  .contacts .button {
    margin-top: 17px;
  }

  .main_info .advantages {
    margin-top: 80px;
  }

  .types_block .gager .title_h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .order_form input[type='text'] {
    padding: 4px 4px 4px 15px;
    height: 67px;
  }

  .footer_form .title_h2 {
    font-size: 32px;
  }

  .thanks_block {
    height: -webkit-calc(100vh - 225px);
    height: calc(100vh - 225px);
  }

  .thanks_block .info {
    max-width: 50%;
    margin-left: 95px;
    padding-top: 75px;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 53px;
    line-height: 63px;
  }

  h2,
  .title_h2 {
    font-size: 48px;
  }

  .header_menu a {
    letter-spacing: 3.07px;
  }

  .main_info .advantages .item_wrap:nth-child(3) {
    margin-left: -100px;
  }

  .types_block .title_h2 {
    font-size: 53px;
  }

  .types_block .gager .title_h2 {
    font-size: 35px;
  }

  .works_block {
    padding-bottom: 80px !important;
  }

  .reviews_block .item {
    margin-bottom: 7em;
  }

  .reviews_block .item_wrap:nth-child(2n+1) {
    padding-right: 20px;
  }

  .reviews_block .item_wrap:nth-child(2n) {
    padding-left: 20px;
  }

  .reviews_block .title_h2 {
    font-size: 64px;
    line-height: 1.4;
  }

  .stages_block .title {
    font-size: 43px;
  }

  .stages_block .icon {
    margin-bottom: 20px;
  }

  .stages_block .item {
    max-width: 205px;
  }

  .stages_block .item_wrap:not(:last-child):before {
    content: url("../img/arrow.png");
    position: absolute;
    top: 39%;
    right: -10px;
  }

  .stages_block .item_wrap:first-child:before {
    right: 15px;
  }

  .stages_block .item_wrap:first-child .item {
    margin-right: auto;
  }

  .stages_block .item_wrap:nth-child(2):before {
    right: -28px;
  }

  .stages_block .item_wrap:nth-child(2) .item {
    margin-left: auto;
  }

  .stages_block .item_wrap:nth-child(3) .item {
    margin-left: auto;
  }

  .stages_block .item_wrap:last-child .item {
    margin-left: auto;
  }

  .stages_block .text {
    max-width: 185px;
  }

  .stages_block .button {
    letter-spacing: 3.07px;
    width: 225px;
  }

  .order_block {
    padding-bottom: 7em !important;
    padding-left: 30px;
  }

  .order_block .title_h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 53px;
  }

  .thanks_block {
    height: -webkit-calc(100vh - 184px);
    height: calc(100vh - 184px);
  }

  .thanks_block .title_h2 {
    font-size: 53px;
  }

  .thanks_block .info {
    max-width: 50%;
    margin-left: 170px;
    padding-top: 75px;
  }
}

@media (max-width: 1100px) {
  .main_info .advantages .item {
    margin: 20px auto 0;
  }
}

@media (max-width: 932px) {
  .main_info_text {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    text-align: justify;
  }

  .main_info_text br {
    display: none;
  }

  .main_info_text .description {
    max-width: 100%;
  }

  .main_info_text .info_order {
    float: right;
  }

  .types_block .gager .order {
    bottom: 0;
  }

  .types_block .item {
    max-width: 350px;
    margin: 20px auto 0;
  }
}

@media (max-width: 768px) {
  .header_menu {
    display: none;
    background: #fff;
    height: auto;
    position: absolute;
    top: 82px;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    text-align: center;
    left: -15px;
    background-color: #e6ba66;
  }

  .header_menu li {
    border-bottom: 1px solid #fdde7a;
    padding: 7px 0px 6px;
  }

  .header_menu li:hover {
    background-color: #fdde7a;
  }

  .header_menu li a:hover {
    color: #000000;
  }

  .header_menu li a:after {
    display: none;
  }

  .mobile_menu_button {
    display: inline-block;
    float: right;
    line-height: 82px;
  }

  .header_menu_block {
    position: relative;
  }

  .header {
    padding-top: 82px;
  }

  .header_menu_block .logo_block {
    padding: 5px 0;
  }

  .header_menu_block .logo_block img {
    height: 72px;
  }

  .main_info_text .info_order {
    float: none;
    text-align: center;
  }

  .main_info_text .info_order .notification {
    display: inline-block;
  }

  .contacts .tagline {
    line-height: 20px;
  }

  .logo_img_block {
    display: none;
  }

  .main_info_text {
    text-align: left;
  }

  .main_info .advantages .item {
    width: 185px;
    height: 185px;
  }

  .main_info .advantages .item .title span {
    font-size: 70px;
  }

  .types_block .gager .order {
    bottom: 30px;
  }

  .order_block {
    text-align: center;
  }

  .order_form,
  .text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .contacts {
    text-align: center;
  }

  .types_block .item {
    max-width: 300px;
  }

  .types_block .gager .order {
    bottom: 10px;
  }

  .types_block .gager .order .img_block {
    display: none;
  }

  .types_block .gager .text {
    line-height: 20px;
  }

  .stages_block .item {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .stages_block .item .title {
    background-position: center center;
  }
}

@media (max-width: 450px) {
  .reviews_block {
    text-align: center;
  }

  .reviews_block .name {
    width: 100%;
  }

  .reviews_block .image {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 932px) {
  .reviews_block .img_block {
    max-width: 140px;
  }
}